___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
<center>*Copyright Pierian Data 2017*</center>
<center>*For more information, visit us at www.pieriandata.com*</center>

# Introduction to Time Series with Pandas

A lot of our financial data will have a datatime index, so let's learn how to deal with this sort of data with pandas!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# January 2nd, 2017
my_date = datetime(my_year,my_month,my_day)

In [5]:
# Defaults to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

You can grab any part of the datetime object you want

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

### Pandas with Datetime Index

You'll usually deal with time series as an index when working with pandas dataframes obtained from some sort of financial API. Fortunately pandas has a lot of functions and methods to work with time series!

In [10]:
# Create an example datetime list/array
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [11]:
# Converted to an index
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [12]:
# Attached to some random data
data = np.random.randn(2,2)
print(data)
cols = ['A','B']

[[-0.40192937 -0.27434077]
 [-1.0121214   1.10624221]]

In [13]:
df = pd.DataFrame(data,dt_ind,cols)

In [14]:
df

                   A         B
2016-01-01 -0.401929 -0.274341
2016-01-02 -1.012121  1.106242

In [15]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [18]:
# Latest Date Location
df['A'].argmax()

C:\Users\laurent.tupin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.

Timestamp('2016-01-01 00:00:00')

In [35]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [37]:
# Earliest Date Index Location
df.index.argmin()

0

In [38]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

## Great, let's move on!